
<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- 上述3个meta标签*必须*放在最前面，任何其他内容都*必须*跟随其后！ -->
    <meta name="description" content="">
    <meta name="author" content="ciyel">
    <!--<link rel="icon" href="../../favicon.ico">-->

    <title>心情说</title>

    <!-- Bootstrap core CSS -->
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="css/style.css">

</head>

<body>

<% include header.ejs %>

<!-- Main jumbotron for a primary marketing message or call to action -->
<div class="jumbotron bg-con">
    <div class="container">
       <div class="row">
           <% if(isLogin){ %>
           <div class="col-md-12">

                   <div class="form-group">
                       <h3>说点什么</h3>
                       <textarea id="content" class="form-control" rows="5" style="background: #404040; border: 1px solid #999"></textarea>
                   </div>

                   <input id="punish" style="float: right; background: #808080;border: 0" type="submit" class="btn btn-primary btn-lg" value="发表">

               <div class="alert alert-danger" id="punishError"></div>
           </div>
           <% }else{ %>


           <div class="col-md-5 col-md-offset-1">
               <h1>心情说</h1>
               <p>欢迎注册</p>
               <p><a class="btn btn-primary btn-lg" href="/register" role="button">注册</a></p>
               </div>
               <div class="col-md-5">
                   <form enctype="multipart/form-data" method="post">
                       <h5>已有账号，请登录</h5>
                       <div class="form-group">
                           <label for="exampleInputEmail1">用户名</label>
                           <input type="text" class="form-control" id="username" placeholder="Username" name="username">
                       </div>
                       <div class="form-group">
                           <label for="exampleInputPassword1">密码</label>
                           <input type="password" class="form-control" id="password" placeholder="Password" name="password">
                       </div>

                       <button type="button" class="btn btn-default" id="btn">登录</button>
                   </form>
               <div class="alert alert-danger" id="alert"></div>
           </div>
           <% } %>
       </div>
    </div>
</div>

<div class="container moodList">
    <!-- Example row of columns -->

   <% for ( var i = 0; i < comment.length; i++){%>
    <div class="row friends-item">
        <div class="col-md-10 col-md-offset-1">
            <h2><a href="/personal:<%= comment[i].username %>">
                    <%for (var k = 0; k < user.length; k++){%>
                    <%if(user[k].username == comment[i].username){%>
                    <img src="<%= user[k].touxiang %>" alt="">
                    <%= comment[i].username %></a>
                    <%}}%>
            </h2>
            <p><%= comment[i].content %> </p>
            <p class="text-right"><%= comment[i].datetime %></p>

                <% for(var j = 0; j < discuss.length; j++){ %>

                    <div class="row">
                        <div class="col-md-12 ">

                            <% if(discuss[j].discussId == comment[i]._id){%>

                            <p >
                                <h4>
                            <% for(var k = 0; k < user.length; k++){
                            if( user[k].username == discuss[j].username){%>
                                <img src="<%= user[k].touxiang %>" alt="">
                            <% } }%>

                                    <a href="/<%= discuss[j].username %>"><%= discuss[j].username %></a>:
                                </h4>
                                <%= discuss[j].content %>
                            </p>
                                <p class="text-right"><%= discuss[j].datetime %></p>
                            <% } %>

                        </div>
                    </div>
                <% } %>

           <% if(isLogin){ %>



               <p ><a href="javascript:void(0)" class="showDisText">评论</a></p>

                <div class="form-group disText" >

                   <textarea class="form-control" rows="3" style="background: #404040; border: 1px solid #999"></textarea>
                   <p style="float: right; margin-top: 5px"><button class="btn btn-primary punishComment" style="background: #808080;border: 0" data-commentid="<%= comment[i]._id%>" >发表</button></p>
                </div>

            <div class="alert alert-danger" id="<%= comment[i]._id %>"></div>
           <% } %>
        </div>

    </div>



    <% } %>
    <% if(total >6){%>
    <div class="row more">
        <div class="col-md-12"><button type="button" class="btn  btn-block " onclick="location='/moodList'">更多>></button></div>
    </div>
    <% } %>

    <footer>
        <p class="text-center">&copy; 2017 Personal, ciyel.</p>
    </footer>
</div> <!-- /container -->





<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="js/jquery-1.11.3.min.js"></script>
<script src="js/bootstrap.min.js"></script>
<script src="js/index.js"></script>
<script src="js/login.js"></script>
<script src="js/punish.js"></script>
</body>
</html>
