
<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- 上述3个meta标签*必须*放在最前面，任何其他内容都*必须*跟随其后！ -->
    <meta name="description" content="">
    <meta name="author" content="">
    <!--<link rel="icon" href="../../favicon.ico">-->

    <title>空间说说</title>

    <!-- Bootstrap core CSS -->
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="css/style.css">

</head>

<body>

<% include header.ejs %>


<% include slider.ejs %>

<div class="container moodList" >
    <!-- Example row of columns -->
    <% for ( var i = 0; i < comment.length; i++){%>
    <div class="row friends-item">
        <div class="col-md-10 col-md-offset-1">
            <%for (var k = 0; k < user.length; k++){%>
            <%if(user[k].username == comment[i].username){%>
           <h2> <img src="<%= user[k].touxiang %>" alt="">
           <a href="/personal:<%= comment[i].username %>"><%= comment[i].username %></a></h2>
            <%}}%>

            <p><%= comment[i].content %> </p>
            <p class="text-right"><%= comment[i].datetime %></p>

            <% for(var j = 0; j < discuss.length; j++){ %>

            <div class="row">
                <div class="col-md-8 ">
                    <% if(discuss[j].discussId == comment[i]._id){ %>
                    <p>
                    <h4>
                        <% for(var k = 0; k < user.length; k++){
                        if( user[k].username == discuss[j].username){%>
                        <img src="<%= user[k].touxiang %>" alt="">
                        <% } }%>
                        <a href="/<%= discuss[j].username %>"><%= discuss[j].username %></a>:
                    </h4>
                    <%= discuss[j].content %> </p>
                    <% } %>

                </div>
            </div>
            <% } %>

            <% if(isLogin){ %>

            <p ><a href="javascript:void(0)" class="showDisText">评论</a></p>

            <div class="form-group disText" >

                <textarea class="form-control" rows="3"></textarea>
                <p style="float: right; margin-top: 5px"><button class="btn btn-primary punishComment" data-commentid="<%= comment[i]._id %>" >发表</button></p>
            </div>

            <div class="alert alert-danger" id="<%= comment[i]._id %>"></div>
            <% } %>
        </div>

    </div>



    <% } %>
    <% if(total >6){%>
       <div class="row">
           <nav aria-label="..." class="col-sm-offset-1 col-sm-11">
               <ul class="pagination">
                   <% for ( var i = 1; i <= pageNum; i++){ %>
                   <li><a href="/page=<%= i %>"><%= i %></a></li>

                   <% } %>
               </ul>
           </nav>
       </div>
    <% } %>

    <footer>
        <p class="text-center">&copy; 2017 Personal, ciyel.</p>
    </footer>
</div> <!-- /container -->





<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="js/jquery-1.11.3.min.js"></script>
<script src="js/bootstrap.min.js"></script>
<script src="js/index.js"></script>
<script src="js/login.js"></script>
<script src="js/punish.js"></script>
</body>
</html>
